.AddMFund
{
    position: relative;
    left: 200px;
    background-color: #e4dcf4;
    border-radius: 10px;
    width: 700px;
}

.AddHeading
{
    position: relative;
    top: 30px;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.6;
}

#cancel
{
position: relative;
right: 70px;
border-radius: 15px;
}

#submit
{
position: relative;
right: 170px;
border-radius: 15px;
}

.blankHolder{
    border: 2px white solid;
    background-color: white;
    transform: rotate(90deg);
    position: relative;
    width: 400px;
    bottom: 700px;
    left: 730px;
}

.blankHolder h1{
    color: white;
}

.ip
{
    height: 50px;
    border-radius: 15px;
    position: relative;
    left: 50px;
}