.AddMFund
{
    position: relative;
    left: 200px;
    background-color: #e4dcf4;
    border-radius: 10px;
    width: 700px;
}

.AddHeading
{
    position: relative;
    top: 30px;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.6;
}

#cancel
{
position: relative;
right: 70px;
}

#submit
{
position: relative;
right: 170px;
}

.ip
{
    height: 50px;
    border-radius: 15px;
    position: relative;
    left: 50px;
}