.contxt h1
{
text-align: left;
font-weight: bold;
}


.contxt h4
{
text-align: left;
font-weight: lighter;
}

.formspace
{
    background-color: #f5f5ff  ;
    position: relative;
    width: 1000px;
    height: 500px;
    /* right: 55vmin; */
    left: 8rem;
    top: 10vmin;
}

form
{
    position: relative;
    border: 2px black;
    top: 10vmin;
}

#fname
{
    position: relative;
    width: 230px;
    height: 45px;
    border-color: transparent;
    background-color: #e4dcf4;
}

#lname
{
    position: relative;
    right:8vmin;
    width: 230px;
    height: 45px;
    border-color: transparent;
    background-color: #e4dcf4;
}

#email
{
    position: relative;
    width: 465px;
    height: 45px;
    top: 1vmin;
    right: 0vmin;
    border-color: transparent;
    background-color: #e4dcf4;
}

#phone
{
    position: relative;
    top: 2vmin;
    width: 230px;
    height: 45px;
    border-color: transparent;
    background-color: #e4dcf4;
}

#address
{
    position: relative;
    top: 2vmin;
    right:8vmin;
    width: 230px;
    height: 45px;
    border-color: transparent;
    background-color: #e4dcf4;
}

#write
{
    position: relative;
    top: 3vmin;
    right: 0vmin;
    width: 465px;
    height: 200px;
    border-color: transparent;
    background-color: #e4dcf4;
}

#conbtn
{
    position: relative;
    top: 5vmin;
    width: 150px;
    right: 12vmin;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 50px;
    
}

.errmsg
{
    position: relative;
    font-size: 10px;
    /* right: 50px; */
    color: black;
    z-index: 2;
}

.errmsglname
{
    position: relative;
    font-size: 10px;
    right: 100px;
    color: black;
    z-index: 2;
}

.errmsgemail
{
    position: relative;
    font-size: 10px;
    top: 10px;
    right: 230px;
    color: black;
    z-index: 2;

}

.errmsgphone
{
    position: relative;
    font-size: 10px;
    top: 10px;
    right: 70px;
    color: black;
    z-index: 2; 
}

.errmsgaddress
{
    position: relative;
    font-size: 10px;
    top: 10px;
    right: 140px;
    color: black;
    z-index: 2;
}
#cimg
{
    position: relative;
    bottom: 350px;
    height: 400px;
    width: 400px;
    left: 500px;
}