.helpcnt h1
{
    position: relative;
    font-size: 50px;
    top: 50px;
}

.helpcnt h4
{
    position: relative;
    font-weight: lighter;
    top: 50px;
}

.htitle
{
    position: relative;
    width: 300px;
    top: 250px;
    left: 80px;
}

#helpimg
{
    position: relative;
    bottom: 150px;
    mix-blend-mode: darken;
}

.htitle h1
{
font-size: 25px;
text-align: left;
}

.htitle p
{
font-size: 18px;
text-align: left;
position: relative;
top: 80px;
}

html
{
    overflow-x: hidden;
}