.cardbgm
{
    background-color: #d8d8f4;

}

.cardbgm:hover
{
    background-color: rgb(232,166,141);

}

.imgm
{
    position: relative;
    left: 100px;
    height: 70px;
    width: 70px;
    mix-blend-mode: darken;
}

