.nav
{
    padding-left: 35rem;
}

button
{
    position: relative;
    margin-left: 7rem;
    bottom: 5px;
    width: 150px;
}

.navtitle
{
    color: white;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navtitle:hover
{
    
    color: white;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}


.navbar 
{
    background-color: #847ce4;
}

.navText
{
    color: white;
    font-weight: bold;

}

.signupbtn
{
    position: relative;
    right: 27vmin;
}

.buttontxt
{
    color: white;
    font-weight: bold;
}

.buttontxt:hover
{
    color: black;
    font-weight: bold;
}

.navText:hover
{
    color: black;
    font-weight: bold;
    text-decoration: none;

}

.loginbtn
{
    position: relative;
    right: 70px;
}


/* ***************************Media Queries**************************** */

@media only screen and (max-width: 600px) {
    
        .nav
        {
            padding-left: 0rem;
            margin-left: 0px;
        }
     
        button
        {
        position: relative;
        margin-left: 0rem;
        bottom: 1rem;
        }

        .navbar-brand
        {
            position: relative;
            margin-left: 0px;
            padding-left: 0px;
        }
}